<div class="signup_box">

  <%= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "new_user form-inline" } do |f| %>

    <h1>Welcome back.</h1>
    <p>It's time to write your next article.</p>

    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% else %>
      <p><%= link_to "Using Dropbox", link_dropbox_path, :class => "link_button" %></p>
      <p>or</p>
<!--       <p>Username and password</p> -->
    <% end %>

    <div class="account_details">

      <div class="control-group">
        <div class="controls">
          <%= f.email_field :email, placeholder: "Your email" %>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <%= f.password_field :password, placeholder: "Choose a password" %>
        </div>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.submit "Sign in", class: "btn btn-large btn" %>
      </div>
    </div>

  <% end %>

</div>