<!DOCTYPE html>
<html>
<head>
  <title>This is Pencilbox</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Donegal+One' rel='stylesheet' type='text/css'>
  <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">

  <%= render "mixpanel" %>

</head>
<body>

<div class="container">
  <%= yield %>
</div>


<div class="footer">
  <div class="footer_container">
    <p>By <%= link_to "Firmhouse", "http://blog.firmhouse.com" %> | <%= mail_to "info@firmhouse.com", "Send us an email" %></p>
  </div>
</div>

</body>
</html>